<div class="row g-3 mb-4 align-items-center justify-content-between">
    <div class="col-auto">
          <h1 class="app-page-title mb-0">Employee List</h1>
    </div>
    <div class="col-auto">
       <div class="page-utilities">
        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
          <div class="col-auto">
            <form class="table-search-form row gx-1 align-items-center">
                      <div class="col-auto">
                          <input type="text" id="search-orders" name="searchorders" class="form-control form-control-sm search-orders" placeholder="Search">
                      </div>
                      <div class="col-auto">
                          <button type="submit" class="btn app-btn-secondary">Search</button>
                      </div>
                  </form>
                  
          </div>
          <div class="col-auto">
            
            <select class="form-select w-auto" >
              <option selected value="option-1">All</option>
              <option value="option-2">This week</option>
              <option value="option-3">This month</option>
              <option value="option-4">Last 3 months</option>
              
          </select>
          </div>
          <div class="col-auto">						    
            <a class="btn app-btn-secondary" href="#">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download me-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
<path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
</svg>
              Download CSV
          </a>
          </div>
        </div><!--//row-->
      </div><!--//table-utilities-->
    </div><!--//col-auto-->
  </div><!--//row-->
 
  
  <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
    <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab" href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">All</a>
    <a class="flex-sm-fill text-sm-center nav-link"  id="orders-paid-tab" data-bs-toggle="tab" href="#orders-paid" role="tab" aria-controls="orders-paid" aria-selected="false">Paid</a>
    <a class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab" data-bs-toggle="tab" href="#orders-pending" role="tab" aria-controls="orders-pending" aria-selected="false">Pending</a>
    <a class="flex-sm-fill text-sm-center nav-link" id="orders-cancelled-tab" data-bs-toggle="tab" href="#orders-cancelled" role="tab" aria-controls="orders-cancelled" aria-selected="false">Cancelled</a>
</nav>


<div class="tab-content" id="orders-table-tab-content">
      <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
      <div class="app-card app-card-orders-table shadow-sm mb-5">
        <div class="app-card-body">
          <div class="table-responsive">
              <table class="table app-table-hover table-striped mb-0 text-left">
            <thead>
              <tr>
                <th class="cell">ID</th>
                <th class="cell">Name</th>
                <th class="cell">Contact</th>
                <th class="cell">Username</th>
                <th class="cell">Employee ID</th>
                <th class="cell">Company</th>
                <th class="cell">Email</th>
                <th class="cell text-center">Status</th>
                <th class="cell text-center">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="allEmployees?.length>0">

              <tr *ngFor="let employee of allEmployees[0] | paginate: { itemsPerPage: 10, currentPage: pageNumber }">
                <td class="cell"><span class="truncate">{{employee.id_num}}</span></td>
                <td class="cell"><span class="truncate">{{employee.employee_name}}</span></td>
                <td class="cell"><span class="truncate">{{employee.contact_no}}</span></td>
                <td class="cell"><span class="truncate">{{employee.username}}</span></td>
                <td class="cell"><span class="truncate">{{employee.employee_id}}</span></td>
                <td class="cell"><span class="truncate">{{employee.company_name}}</span></td>
                <td class="cell"><span class="truncate">
                  <fa-icon class="fa-l" style="margin-right: 5px;" [icon]="faEnvelope"></fa-icon>{{employee.email}}</span>
                </td>
                <td class="cell text-center">
                  <!-- <fa-icon class="fa-light fa-l" style="margin-right: 7px; color: #c64115;" [icon]="faXmark"></fa-icon> -->
                  <fa-icon class="fa-l" style="color: #138a25;" [icon]="faCheck"></fa-icon>
                </td>
                <td class="cell text-center">
                  <fa-icon class="fa-l" style="margin-right: 7px; color: #1957a9;" [icon]="faEye"></fa-icon>
                  <fa-icon class="fa-l" style="margin-right: 7px; color: #1957a9;" [icon]="faPencil"></fa-icon>
                  <fa-icon class="fa-l" style="color: #c64115;" [icon]="faTrash"></fa-icon>
                </td>
              </tr>
            </tbody>
          </table>
            </div><!--//table-responsive-->
           
        </div><!--//app-card-body-->		
    </div><!--//app-card-->

    <div class="d-flex justify-content-end">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      ></pagination-controls>

