<section class="h-100 h-custom gradient-custom-2">
  <form (submit) = "submitForm()">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="p-5">
                  <h3 class="fw-normal mb-5" style="color: #3b5998;">General Infomation</h3>
                  <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <input type="text" name="employee_name" id="form3Examplev2" class="form-control form-control-lg" [(ngModel)]="employee_name"/>
                          <label class="form-label" for="form3Examplev2">Employee name</label>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" for="form3Examplev3">Gender</label>
                          <select class="select" name="gender" [(ngModel)]="gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                          </select>
                        </div>
                      </div>
                  </div>
                  
                  <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <input type="text" id="form3Examplev2" name="username" class="form-control form-control-lg" [(ngModel)]="username"/>
                          <label class="form-label" for="form3Examplev2">Username</label>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                          <div class="form-outline">
                            <input type="password" id="form3Examplev2" name="password" class="form-control form-control-lg" [(ngModel)]="password"/>
                            <label class="form-label" for="form3Examplev2">Password</label>
                          </div>
                      </div>
                     
                  </div>
                  <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <input type="text" id="form3Examplev2" name="employee_id" class="form-control form-control-lg" [(ngModel)]="employee_id"/>
                          <label class="form-label" for="form3Examplev2">Employee ID</label>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" for="form3Examplev3">Select Portal Type</label>
                          <select class="select" name="portal_type" [(ngModel)]="portal_type">
                            <option value="FSSAI Marketing Portal">FSSAI Marketing Portal</option>
                            <option value="DPIIT Marketing Portal">DPIIT Marketing Portal</option>
                            <option value="NSDC Marketing Portal">NSDC Marketing Portal</option>
                            <option value="Fostac Portal">Fostac Portal</option>
                            <option value="Hygiene Portal">Hygiene Portal</option>
                            <option value="Foscos - Filling Portal">Foscos - Filling Portal</option>
                            <option value="Foscos - Revert Portal">Foscos - Revert Portal</option>
                            <option value="Account Portal">Account Portal</option>
                            <option value="HR - TA Portal">HR - TA Portal</option>
                            <option value="HR - TD Portal">HR - TD Portal</option>
                            <option value="HR - General Portal">HR - General Portal</option>
                            <option value="Cowork Portal">Cowork Portal</option>
                          </select>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                        <div class="form-outline">
                          <input type="text" id="form3Examplev5" name="department" class="form-control form-control-lg" [(ngModel)]="department"/>
                          <label class="form-label" for="form3Examplev5">Department</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <input type="date" id="form3Examplev6" class="form-control form-control-lg" name="dob" [(ngModel)]="dob"/>
                        <label class="form-label" for="form3Examplev6">Date Of Birth</label>
                      </div>
                  </div>
                  <p></p>
                  <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <input type="text" id="form3Examplev7" class="form-control form-control-lg" name="designation" [(ngModel)]="designation"/>
                          <label class="form-label" for="form3Examplev7">Designation</label>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <input type="number" id="form3Examplev8" class="form-control form-control-lg" name="salary" [(ngModel)]="salary"/>
                          <label class="form-label" for="form3Examplev8">Salary</label>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                          <div class="form-outline">
                              <label class="form-label" for="form3Examplev3">Grade Pay</label>
                              <select class="select" name="grade_pay" [(ngModel)]="grade_pay">
                                  <option value="500">500</option>
                                  <option value="700">700</option>
                                  <option value="1000">1000</option>
                                  <option value="2000">2000</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                          <div class="form-outline">
                              <label class="form-label" for="form3Examplev3">Under Company</label>
                              <select class="select" name="company_name" [(ngModel)]="company_name">
                                <option value="IIEST Federation">IIEST Federation</option>
                                <option value="Business Center"> Business Center</option>
  
                              </select>
                          </div>
                      </div>
                      
                      
                      
                  </div>
                  <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                          <div class="form-outline">
                              <label class="form-label" for="form3Examplev3">Project Name</label>
                              <select class="select" name="project_name" [(ngModel)]="project_name">
                                  <option value=" FSSAI"> FSSAI</option>
                                  <option value=" DPIIT"> DPIIT</option>
                                  <option value="NSDC">NSDC</option>
                                  <option value="Under Agies of IIEST">Under Agies of IIEST</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <input type="date" id="form3Examplev6" name="doj" class="form-control form-control-lg" [(ngModel)]="doj"/>
                          <label class="form-label" for="form3Examplev6">Date Of Joining</label>
                        </div>
                      
                      
                      
                  </div>

                  

                </div>
              </div>
              <div class="col-lg-6 bg-indigo text-white">
                <div class="p-5">
                  <h3 class="fw-normal mb-5">Contact Details</h3>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="email" id="form3Examplea2" class="form-control form-control-lg" name="email" [(ngModel)]="email"/>
                      <label class="form-label" for="form3Examplea2">Email</label>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-md-5 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="number" id="form3Examplea4" class="form-control form-control-lg" name="contact_no" [(ngModel)]="contact_no"/>
                          <label class="form-label" for="form3Examplea4">Contact</label>
                        </div>
  
                      </div>
                      <div class="col-md-7 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="number" id="form3Examplea5" class="form-control form-control-lg" name="alternate_contact" [(ngModel)]="alternate_contact"/>
                          <label class="form-label" for="form3Examplea5">Alternative Contact</label>
                        </div>
  
                      </div>
                    </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="text" id="form3Examplea3" class="form-control form-control-lg" name="address" [(ngModel)]="address"/>
                      <label class="form-label" for="form3Examplea3">Address</label>
                    </div>
                  </div>

                  

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="number" id="form3Examplea6" class="form-control form-control-lg" name="zip_code" [(ngModel)]="zip_code"/>
                      <label class="form-label" for="form3Examplea6">Zip Code</label>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-light btn-lg" data-mdb-ripple-color="dark">Register</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</section>